<ul class="album-list">
    {% assign albums = include.list | sort:"artist" %}
    {% for albumItem in albums %}
        <li class="album-list__item" data-artist="{{ albumItem.artist | url_encode }}" data-album="{{ albumItem.album | url_encode }}">
            <div class="album">
                {% include tape.svg %}
                <button class="album__button" {% if albumItem.thumb %}data-thumb="assets/images/covers/{{ albumItem.thumb }}"{% endif %} data-artist="{{ albumItem.artist }}" data-album="{{ albumItem.album }}" {% if albumItem.text %}data-review="{{ albumItem.text | markdownify }}"{% endif %} {% unless include.tab == "true" %}tabindex=-1{% endunless %}>
                    <p class="byline">
                        <span class="byline__title">{{ albumItem.album }}</span> by <span class="byline__artist">{{ albumItem.artist }}</span>
                    </p>
                </button>
            </div>
        </li>
    {% endfor %}
</ul>
