<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ "/assets/main.css" | absolute_url }}">
    <link rel="canonical" href="https://music.iamgarrett.com">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/images/logos/favicon-32x32.png" | absolute_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/images/logos/favicon-16x16.png" | absolute_url }}">
    <link rel="shortcut icon" href="{{ "/assets/images/logos/favicon.ico" | absolute_url }}">
</head>
