<header class="site-header" role="banner">

  <div class="wrapper">

    <div id="site-logo">
      <div class="amp">
        <div class="handle"></div>
        <div class="body">
          <div class="dial"></div>
          <div class="hardware">
            <div class="tape-deck">
              <div></div>
              <div></div>
            </div>
            <div class="controls">
              <ul class="slides">
                <li></li><li></li><li></li><li></li><li></li><li></li>
              </ul>
              <div class="dials"></div>
            </div>
          </div>
        </div>
      </div>
      <h1>{{ site.title | escape}} by Garrett Vorbeck</h1>
    </div>

  </div>
</header>
