<div class="spotlight">
    <article class="spotlight__box">
        <header class="spotlight__header">
            <h1 class="spotlight__title">
                <span class="spotlight__album"></span> by <span class="spotlight__artist"></span>
            </h1>
            <button class="spotlight__close" title="Close"><div></div><div></div></button>
        </header>
        <div class="spotlight__content">
            <section class="spotlight__cover">
                <img src="" alt="">
            </section>
            <section class="spotlight__quick">
                <section class="spotlight__links">
                    <h2>Links</h2>
                    <ul>
                        <li>
                            <a class="lastfm" target="_blank" href="" title="lastfm">{% include lastfm.svg %}</a>
                        </li>
                        <li>
                            <a class="genius" target="_blank" href="" title="genius">{% include genius.svg %}</a>
                        </li>
                        <li>
                            <a class="spotify" href="" title="spotify">{% include spotify.svg %}</a>
                        </li>
                    </ul>
                </section>
                <section class="spotlight__tags">
                    <h2>Album Tags</h2>
                    <div></div>
                </section>
                <section class="spotlight__track">
                    <h2>Favorite Track</h2>
                    <div></div>
                </section>
            </section>
            <section class="spotlight__review">
                <h2>Why I Like This</h2>
                <div></div>
            </section>
            <section class="spotlight__info">
                <h2>Album Info</h2>
                <div></div>
            </section>
        </div>
</div>
