.album {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;

    svg {
        position: absolute;
        top: 0;
        left: 0;
        padding: 2rem 1rem 0;
    }

    &__button {
        position: absolute;
        padding: 0;
        margin: 0;
        border: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        background-size: cover;
        top: 0;
        left: 0;
        cursor: pointer;
        transition: box-shadow .2s;

        &:hover {
            box-shadow: 0 rem(3px) rem(6px) rgba(0,0,0,0.16), 0 rem(3px) rem(6px) rgba(0,0,0,0.23);
        }

        &:hover .byline,
        &:focus .byline {
            bottom: 0;
            opacity: 1;
        }
    }
}

.byline {
    position: absolute;
    bottom: -1rem;
    left: 0;
    text-align: left;
    padding: 1rem;
    color: #FFFFFF;
    font-family: $font--serif;
    font-size: rem(24px);
    line-height: 1.25;
    background-color: rgba(#000000, .8);
    opacity: 0;
    transition: all .2s;

    &__title {
        font-weight: bold;
        font-style: italic;
    }
}
