.site-header {
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;

    @include media(s) {
        font-size: 3rem;
    }

    &__pretitle {
        opacity: .5;
    }

    &__title {
        display: inline;
        color: $color--light;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
    }

    &__logo {
        position: absolute;
        top: 0;
        z-index: -1;
        opacity: .5;
        fill: $color--light;
        max-height: rem(280px);
        height: 100%;
        width: 100%;
        filter: blur(#{rem(3px)});
    }
}
