.site-header {
    $color--base: #FFFFFF;
    color: $color--base;
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin: 2rem 1rem;

    &__title {
        position: relative;

        span {
            width: rem(146px);
            display: inline-block;
        }

        &::after {
            @include pseudo;
            width: rem(166px);
            height: rem(100px);
            border: rem(10px) solid $color--base;
            top: rem(-17px);
            left: rem(75px);
            border-radius: rem(15px);
            opacity: .4;
            transform: rotate(15deg);
        }

        svg {
            width: rem(135px);
            height: auto;
            position: absolute;
            top: rem(-26px);
            left: rem(100px);
            transform: rotate(15deg);
        }
    }

    &__subtitle {
        font-size: 1rem;
        font-weight: 400;
        margin-top: 1rem;
    }

    &__link {
        position: absolute;
        bottom: rem(-15px);
        right: 0;

        svg {
            width: rem(25px);
            height: auto;
            opacity: .6;

            &:hover {
                opacity: 1;
            }
        }
    }

    svg {
        fill: $color--base;
    }
}
