* {
  box-sizing: border-box;
}

.wrapper {
  padding: 0 ($padding*3 + px);
  max-width: 375px;
  margin: 0 auto;
}

footer {
  margin-top: $padding*3 + px;
  font-family: $font-roboto;
  line-height: 26px;

  p {
    margin: ($padding*3 + px) 0;
    text-align: justify;
  }
}
