.site-footer {
    color: #FFFFFF;

    a {
        color: $color--bg;
        background: $color--title;
        display: inline-block;
        padding: 0 .25rem;
        margin-left: 1rem;

        &.site-footer__admin {
            margin: 0;
        }
    }

    p + p {
        margin-top: 1rem;
    }
}
