.favorites {
    border-radius: rem(5px);
    overflow: hidden;
//
    @for $i from 1 through length($colors--year-block) {

        .favorites__item:nth-child(#{length($colors--year-block)}n + #{$i}) {
            background-color: nth($colors--year-block, $i);
            background: linear-gradient(135deg, nth($colors--year-block, $i), darken(nth($colors--year-block, $i), 20%));
            @if (lightness(nth($colors--year-block, $i)) > 58) {
                color: darken(nth($colors--year-block, $i), 45%);

                // button {
                    // background-color: darken(nth($colors--year-block, $i), 45%);
                // }
            } @else {
                color: lighten(nth($colors--year-block, $i), 45%);

                // button {
                    // background-color: lighten(nth($colors--year-block, $i), 45%);
                // }
            }

            // This is here only for JS to get a computed background-color and color styles for the Spotlight.
            &::before {
                @include pseudo;
                background-color: nth($colors--year-block, $i);
                @if (lightness(nth($colors--year-block, $i)) > 75) {
                    border-color: darken(nth($colors--year-block, $i), 28%);
                    color: lighten(nth($colors--year-block, $i), 35%);
                } @else {
                    border-color: lighten(nth($colors--year-block, $i), 35%);
                    color: darken(nth($colors--year-block, $i), 28%);
                }
            }

            .album-list__item {
                background-color: darken(nth($colors--year-block, $i), 25%);

                svg {
                    fill: darken(nth($colors--year-block, $i), 15%);
                }
            }
        }
    }
}
//
// .favorites__item + .favorites__item {
//     box-shadow: 0 rem(-10px) rem(10px) rem(-6px) rgba(0,0,0,0.23)
// }
//
.year__header {
    margin-bottom: 1rem;
}

.year__title {

    .favorites__item:nth-child(even) & {
        text-align: right;
    }
}

.year__button {
    color: #000000;
    background-color: rgba(#FFFFFF, .8);
    mix-blend-mode: screen;
    font-size: 3rem;
    font-weight: 700;
    padding: .25rem .35rem;
    width: 50%;
    max-width: rem(300px);
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
    transition: all .1s ease-in-out;

    &:focus {
        outline: 0;
        box-shadow: 0 rem(3px) rem(6px) rgba(0,0,0,0.16), 0 rem(3px) rem(6px) rgba(0,0,0,0.23);
    }

    &:hover {
        box-shadow: 0 rem(3px) rem(6px) rgba(0,0,0,0.16), 0 rem(3px) rem(6px) rgba(0,0,0,0.23);
        background-color: rgba(#FFFFFF, .5);
    }
}

.album-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    height: 0;

    .favorites__item--open & {
        height: auto;
    }
}

.album-list__item {
    margin: 0 1rem 1rem;
}

.album {
    width: rem(300px);
    height: 0;
    padding-top: 100%;
    position: relative;

    & > svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 1rem;
    }
}

.album__button {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 rem(3px) rem(6px) rgba(0,0,0,0.16), 0 rem(3px) rem(6px) rgba(0,0,0,0.23);
    cursor: pointer;
    transition: box-shadow .2s;
    background-size: contain;

    &:hover {
        box-shadow: 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);

        .byline {
            display: block;
        }
    }

    &:focus {
        outline: 0;
        box-shadow: 0 rem(14px) rem(28px) rgba(0,0,0,0.25), 0 rem(10px) rem(10px) rgba(0,0,0,0.22);
    }
}

.byline {
    font-family: 'Merriweather', serif;
    background-color: rgba(#000000, .9);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    transition: all .2s;
    color: #FFFFFF;
    text-align: left;
    opacity: 0;

    button:hover > & {
        opacity: 1;
    }
}

.byline__title {
    font-weight: 700;
    font-style: italic;
}
