.site-header {
    font-size: rem(80px);
    line-height: 1.25;
    font-weight: bold;
    color: rgba(#FFFFFF, .5);
    text-transform: uppercase;
    position: relative;

    &__title {
        display: inline;
        color: $color--title;
    }

    &__subtitle {
        color: rgba(#FFFFFF, 1);
        font-size: 1rem;
        font-weight: normal;
    }

    &__logo {
        $width: #{rem(500px)};
        fill: $color--title;
        width: $width;
        opacity: .5;
        filter: blur(#{rem(3px)});
        position: absolute;
        top: 0;
        left: calc(50% - (#{$width} / 2));
        z-index: -1;
    }
}
