body {
    background-color: $color--bg;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: $font--sans;

    & > header,
    & > main,
    & > footer {
        grid-column-start: 2;
        grid-column-end: 12;
    }

    & > header,
    & > footer {
        margin: 2rem 1rem;
    }

    & > main {
        background: #FFFFFF;
        border-radius: .5rem;
        overflow: hidden;
    }

    .spotlight {
        display: none;
    }
}
