body {
    background-color: $color--bg;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: $font--sans;
    max-width: rem(1680px);
    margin: 0 auto;

    & > header,
    & > main,
    & > footer {
        grid-column-start: 2;
        grid-column-end: 12;

        @media (max-width: 500px) {
            grid-column-start: 1;
            grid-column-end: 13;
        }
    }

    & > header,
    & > footer {
        margin: 2rem 1rem;
    }

    & > main {
        background: #FFFFFF;
        border-radius: .5rem;
        overflow: hidden;
    }

    .spotlight {
        display: none;
    }
}
