.favorites {

    @for $i from 1 through length($colors--year-block) {

        .favorites__item:nth-child(#{length($colors--year-block)}n+#{$i}) {
            background: linear-gradient(135deg, nth($colors--year-block, $i), darken(nth($colors--year-block, $i), 20%));
            @if (lightness(nth($colors--year-block, $i)) > 58) {
                color: darken(nth($colors--year-block, $i), 50%);

                button {
                    color: darken(nth($colors--year-block, $i), 45%);
                }
            } @else {
                color: lighten(nth($colors--year-block, $i), 50%);

                button {
                    color: lighten(nth($colors--year-block, $i), 45%);
                }
            }

            .album-list__item {
                background-color: darken(nth($colors--year-block, $i), 25%);

                svg {
                    fill: darken(nth($colors--year-block, $i), 15%);
                }
            }

            // .year-block__spotlight {
            //     background-color: darken(nth($colors--year-block, $i), 25%);
            //
            //     svg {
            //         fill: darken(nth($colors--year-block, $i), 15%);
            //     }
            // }

            // .sprite-spotify {
            //     background-color: rgba(nth($colors--year-block, $i), .6);
            // }
        }
    }
}

.favorites__item {
}

.year {

    &--open {}
}

.year__header {
    padding: 1rem 1rem 0;
}

.year__title {

    .favorites__item:nth-child(even) & {
        text-align: right;
    }
}

.year__button {
    font-size: 3rem;
    font-weight: 700;
    border: .3rem solid;
    padding: .25rem .35rem;
    cursor: pointer;

    &:focus {
        outline: 0;
        box-shadow: 0 rem(3px) rem(6px) rgba(0,0,0,0.16), 0 rem(3px) rem(6px) rgba(0,0,0,0.23);
    }
}

.year__content {}

.album-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 1rem 0 0;
    overflow: hidden;
    height: 0;

    .year--open & {
        height: auto;
    }
}

.album-list__item {
    margin: 0 0 1rem 1rem;
}

.album {
    width: rem(300px);
    height: 0;
    padding-top: 100%;
    position: relative;

    & > svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 1rem;
    }
}

.album__button {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 rem(3px) rem(6px) rgba(0,0,0,0.16), 0 rem(3px) rem(6px) rgba(0,0,0,0.23);
    cursor: pointer;
    transition: box-shadow .2s;

    &:hover {
        opacity: .4;
        box-shadow: 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
    }

    &:focus {
        outline: 0;
        box-shadow: 0 rem(14px) rem(28px) rgba(0,0,0,0.25), 0 rem(10px) rem(10px) rgba(0,0,0,0.22);
    }
}



// .favorites-list {
//     box-shadow: 0 rem(14px) rem(28px) rgba(0,0,0,0.25), 0 rem(10px) rem(10px) rgba(0,0,0,0.22);
//
//     /* DYNAMIC COLOR IMPLEMENTATION */
//     @for $i from 1 through length($colors--year-block) {
//         &__item:nth-child(#{length($colors--year-block)}n+#{$i}) {
//             padding: 1rem;
//             background: linear-gradient(135deg, nth($colors--year-block, $i), darken(nth($colors--year-block, $i), 25%));
//             @if (lightness(nth($colors--year-block, $i)) > 60) {
//                 color: darken(nth($colors--year-block, $i), 50%);
//             } @else {
//                 color: lighten(nth($colors--year-block, $i), 50%);;
//             }
//
//             .album-list__item {
//                 background-color: darken(nth($colors--year-block, $i), 25%);
//
//                 svg {
//                     fill: darken(nth($colors--year-block, $i), 15%);
//                 }
//             }
//
//             .year-block__spotlight {
//                 background-color: darken(nth($colors--year-block, $i), 25%);
//
//                 svg {
//                     fill: darken(nth($colors--year-block, $i), 15%);
//                 }
//             }
//
//             .sprite-spotify {
//                 background-color: rgba(nth($colors--year-block, $i), .6);
//             }
//         }
//     }
//
//     @include media(ml) {
//         &__item:nth-child(even) {
//
//             .year-block {
//
//                 &__title,
//                 &__spotlight {
//                     grid-column: 7 / 13;
//                 }
//
//                 &__title {
//                     text-align: right;
//                 }
//             }
//
//             .album-list {
//                 grid-column: 1 / 7;
//             }
//         }
//     }
//
//     &__item:first-child {
//         border-radius: rem(5px) rem(5px) 0 0;
//     }
//
//     &__item:last-child {
//         border-radius: 0 0 rem(5px) rem(5px);
//     }
// }
//
// .year-block {
//     display: grid;
//     grid-template: auto 1fr / repeat(12, 1fr);
//     grid-gap: 1rem;
//
//     @include media(s) {
//         grid-template: auto auto 1fr / repeat(12, 1fr);
//     }
//
//     &__title,
//     &__spotlight {
//         grid-column: 1 / 7;
//
//         @include media(s) {
//             grid-column: 1 / 13;
//         }
//     }
//
//     &__title {
//         font-size: 6rem;
//         font-weight: 700;
//
//         @include media(s) {
//             font-size: 3rem;
//             grid-row: 1 / 2;
//         }
//     }
//
//     &__spotlight {
//         grid-row: 2 / 3;
//         position: relative;
//         padding: 1rem;
//
//         @include media(s) {
//             min-height: rem(180px);
//         }
//
//         svg {
//             width: calc(100% - 4rem);
//             margin: 0 1rem 0 1rem;
//             position: absolute;
//             height: auto;
//
//             @include media(s) {
//                 bottom: 0;
//                 height: rem(200px);
//             }
//         }
//     }
// }
//
// .sprite-slice,
// .sprite-info {
//     position: relative;
// }
//
// .sprite-slice {
//     height: 0;
//     padding-top: 100%;
//     background-size: 100%;
//     box-shadow: 0 rem(10px) rem(20px) rgba(0,0,0,0.19), 0 rem(6px) rem(6px) rgba(0,0,0,0.23);
// }
//
// .sprite-spotify {
//     width: 25%;
//     height: 25%;
//     position: absolute;
//     bottom: 1rem;
//     left: 1rem;
//     border-radius: 50%;
//     cursor: pointer;
//     box-shadow: 0 rem(14px) rem(28px) rgba(0,0,0,0.25), 0 rem(10px) rem(10px) rgba(0,0,0,0.22);
//     transition: all .1s ease-in;
//
//     &::after {
//         @include pseudo;
//         top: 25%;
//         left: 25%;
//         width: 50%;
//         height: 50%;
//         background-image: url(/albums/assets/images/logos/spotify.svg);
//         background-size: 100%;
//     }
//
//     .sprite-slice:hover & {
//         display: block;
//         width: 100%;
//         height: 100%;
//         border-radius: 0;
//         bottom: 0;
//         left: 0;
//         box-shadow: none;
//         transition: all .1s ease-in;
//     }
// }
//
// .sprite-info {
//     margin: 1rem 0;
//     text-align: justify;
//     font-size: 2rem;
//     line-height: 3rem;
//     border-top: .25rem solid;
//
//     span {
//         font-weight: 700;
//         font-style: italic;
//         letter-spacing: rem(1px);
//     }
// }
//
// .sprite-review {
//     margin: 1rem 0;
//     line-height: 1.5rem;
//     position: relative;
//
//     em {
//         font-style: italic;
//     }
//
//     strong {
//         font-weight: bold;
//     }
// }
//
// .album-list {
//     grid-column: 7 / 13;
//     grid-row: 1 / -1;
//     display: grid;
//     grid-template: repeat(5, 1fr) / repeat(2, 1fr);
//     grid-gap: 1rem;
//
//     @include media(s) {
//         grid-column: 1 / 13;
//         grid-row: 3 / -1;
//     }
//
//     &__item {
//         padding: 0;
//         transition: all .2s ease-out;
//         position: relative;
//         opacity: 1;
//
//         &--active {
//             padding: 1rem;
//             transition: all .2s ease-in;
//             opacity: .5;
//         }
//
//         svg {
//             position: absolute;
//             width: 80%;
//             top: 10%;
//             left: 10%;
//             height: auto;
//         }
//     }
//
//     &__button {
//         background-size: 100%;
//         height: 0;
//         padding: 100% 0 0;
//         border: none;
//         width: 100%;
//         box-shadow: 0 rem(3px) rem(6px) rgba(0,0,0,0.16), 0 rem(3px) rem(6px) rgba(0,0,0,0.23);
//         cursor: pointer;
//         position: relative;
//         background-color: transparent;
//         opacity: 1;
//         transition: all .1s ease-in;
//
//         &:hover {
//             opacity: .8;
//             transition: all .1s ease-in;
//         }
//     }
// }
