* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
    background-color: $color--background;
    background: linear-gradient(127deg, $color--background, darken($color--background, 15%) 70.71%);
    font-family: 'IBM Plex Sans', sans-serif;

    display: grid;
    grid-template: auto 1fr auto / repeat(12, 1fr);
    grid-row-gap: 1rem;
    max-width: rem(2000px);
    margin: 0 auto;

    @include media(s) {
        max-width: none;
        margin: auto;
    }

    &.spotlight--open {
        overflow: hidden;
    }
}

.site-header,
main,
.site-footer {
    grid-column: 2 / 12;

    @include media(s) {
        grid-column: 1 / 13;
    }
}

.site-header {
    grid-row: 1 / 2;
}

main {
    grid-row: 2 / 3;
}

.site-footer {
    grid-row: 3 / 4;
}

.spotlight {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);

    body.spotlight--open & {
        display: block;
    }
}

.spotlight__box {
    $dimension: 10rem;
    background-color: white;
    width: $dimension;
    height: $dimension;
    position: absolute;
    left: calc(50% - #{$dimension / 2});
    top: calc(50% - #{$dimension / 2});
}

button {
    padding: 0;
    border: none;
    background: none;
    line-height: 1;
}
