// COLORS
$color--background: #2D3191;
$color--logo: #E84F5B;
// Also set in site.js for dynamic elements.
$colors--year-block: #59B68A #E94579 #F8C547 #244AFC #E84F5B #65C7CF #FFEC32;

// BREAKPOINTS
$media--small: 320px;
$media--medium: 768px;
$media--large: 1024px;
$media--xlarge: rem(1440px);
