---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "meyer-reset";

@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

$gradient-chill: linear-gradient(135deg, #56A3A6 0%, #084C61 100%);

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400i|IBM+Plex+Sans:400,400i,700,700i');

/* BODY GRID SETUP */
body {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 1rem;
    background: $gradient-chill;
    font-family: 'IBM Plex Sans', sans-serif;

    > * {
        grid-column-start: 2;
        grid-column-end: 10;
    }

    > header {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    > main {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    > footer {
        grid-row-start: 3;
        grid-row-end: 4;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
    }
}

.years-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    &__item {
        background: white;
        grid-column-start: 1;
        grid-column-end: 11;
        box-shadow: 0 rem(10px) rem(20px) rgba(0,0,0,0.19), 0 rem(6px) rem(6px) rgba(0,0,0,0.23);
        padding: 1rem;
        color: #000000;

        &:nth-child(1) {
            background: #E3B505;
            color: #FFFFFF;
        }

        &:nth-child(2) {
            background: #DB504A;
            grid-column-end: 6;
            color: #FFFFFF;
        }

        &:nth-child(3) {
            background: #44355B;
            color: #000000;
            grid-column-start: 6;
            grid-column-end: 11;
            color: #FFFFFF;
        }

        &:nth-child(n+4) {

            .year-block {
                grid-template-rows: min-content auto 1fr;
            }
        }

        &:nth-child(5n+4) {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        &:nth-child(5n+5) {
            grid-column-start: 3;
            grid-column-end: 5;
        }

        &:nth-child(5n+6) {
            grid-column-start: 5;
            grid-column-end: 7;
        }

        &:nth-child(5n+7) {
            grid-column-start: 7;
            grid-column-end: 9;
        }

        &:nth-child(5n+8) {
            grid-column-start: 9;
            grid-column-end: 11;
        }
    }
}

.year-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content repeat(2, 1fr);
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;

    &__title {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        font-weight: 700;
        line-height: 1.5em;
        text-decoration: overline;
    }

    &__projector {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
        // background-image: url(/albums/assets/covers/2018/sprite.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left;
        height: 0;
        padding-top: 100%;

    // [style^='--aspect-ratio']::before {
    //     content: "";
    //     display: inline-block;
    //     width: 1px;
    //     height: 0;
    //     padding-bottom: calc(100% / (var(--aspect-ratio)));
    // }

        img {
            // max-width: 100%;
        }
    }

    .years-list__item:nth-child(1) & {

        &__title {
            text-align: center;
            font-size: 3rem;
        }

        .album-list {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }

    .years-list__item:nth-child(2) &,
    .years-list__item:nth-child(3) & {

        &__title {
            font-size: 2rem;
        }

        &__projector {
            grid-column-end: 3;
        }

        .album-list {
            grid-column-start: 3;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 1fr);
        }
    }

    .years-list__item:nth-child(n+4) & {

        &__title {
            font-size: 1.5rem;
        }

        &__projector {
            grid-column-end: 5;
            grid-row-end: 3;
        }

        .album-list {
            grid-column-start: 1;
            grid-row-start: 3;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(10, 1fr);
        }
    }
}

.album-list {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;

    &__item {
        background: #084C61;
    }
}

/* URLS
https://coolors.co/084c61-db504a-e3b505-4f6d7a-56a3a6
https://www.imgonline.com.ua/eng/get-dominant-colors.php
https://stackoverflow.com/questions/2541481/get-average-color-of-image-via-javascript
https://medium.com/@alvaro.saburido/applying-gradient-trends-in-sass-cf825d70f5fe
https://www.pinterest.com/pin/538672805427109629/
https://www.pinterest.com/Creadigitales/web-design-inspiration-2019/?lp=true
https://fonts.google.com/featured/Plex?category=Sans+Serif,Display&sort=popularity&selection.family=IBM+Plex+Sans+Condensed:400i|IBM+Plex+Sans:400,400i,700,700i
https://www.toptal.com/developers/css/sprite-generator/
*/

/* TAPE IMAGE:
data:image/svg+xml;charset=utf8,<%3Fxml%20version%3D"1.0"%20encoding%3D"iso-8859-1"%3F><!--%20Generator%3A%20Adobe%20Illustrator%2019.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--><svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20xmlns%3Axlink%3D"http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink"%20version%3D"1.1"%20id%3D"Layer_1"%20x%3D"0px"%20y%3D"0px"%20viewBox%3D"0%200%20512%20512"%20style%3D"enable-background%3Anew%200%200%20512%20512%3B"%20xml%3Aspace%3D"preserve">%0A<path%20style%3D"fill%3A%2354B8D9%3B"%20d%3D"M512%2C98.002v315.996c0%2C2.21-1.791%2C4.002-4%2C4.002H4c-2.209%2C0-4-1.792-4-4.002V98.002%20%20C0%2C95.792%2C1.791%2C94%2C4%2C94h504C510.209%2C94%2C512%2C95.792%2C512%2C98.002z"%2F>%0A<path%20style%3D"fill%3A%232498BF%3B"%20d%3D"M491.396%2C94v324H508c2.209%2C0%2C4-1.792%2C4-4.002V98.002c0-2.21-1.791-4.002-4-4.002H491.396z"%2F>%0A<g>%0A%09<path%20style%3D"fill%3A%23FAD06A%3B"%20d%3D"M444.07%2C417.853H66.434l17.74-73.859c0.432-1.798%2C2.04-3.066%2C3.889-3.066h334.378%20%20%20c1.849%2C0%2C3.457%2C1.268%2C3.889%2C3.066L444.07%2C417.853z"%2F>%0A%09<path%20style%3D"fill%3A%23FAD06A%3B"%20d%3D"M389.71%2C296.326H122.29c-33.307%2C0-60.307-27-60.307-60.307v-3.64c0-33.307%2C27-60.307%2C60.307-60.307%20%20%20h267.42c33.307%2C0%2C60.307%2C27%2C60.307%2C60.307v3.64C450.017%2C269.326%2C423.016%2C296.326%2C389.71%2C296.326z"%2F>%0A<%2Fg>%0A<g>%0A%09<path%20style%3D"fill%3A%23A63F70%3B"%20d%3D"M166.71%2C234.2c0%2C2.62-0.24%2C5.19-0.7%2C7.68c-1.12%2C6.14-3.57%2C11.81-7.03%2C16.71%20%20%20c-2.9%2C4.11-6.52%2C7.68-10.67%2C10.54c-4.93%2C3.38-10.6%2C5.75-16.73%2C6.8c-2.34%2C0.4-4.75%2C0.61-7.21%2C0.61c-2.66%2C0-5.27-0.25-7.79-0.72%20%20%20c-6.08-1.13-11.7-3.56-16.56-6.99c-4.12-2.9-7.69-6.51-10.55-10.66c-3.36-4.88-5.72-10.51-6.79-16.59%20%20%20c-0.42-2.39-0.64-4.86-0.64-7.38c0-2.6%2C0.23-5.15%2C0.69-7.62c1.1-6.07%2C3.5-11.69%2C6.89-16.56c2.88-4.13%2C6.47-7.73%2C10.61-10.61%20%20%20c4.89-3.4%2C10.54-5.8%2C16.64-6.89c2.43-0.43%2C4.94-0.66%2C7.5-0.66s5.07%2C0.23%2C7.5%2C0.66c6.13%2C1.1%2C11.8%2C3.51%2C16.71%2C6.95%20%20%20c4.13%2C2.88%2C7.72%2C6.48%2C10.6%2C10.62c3.42%2C4.93%2C5.83%2C10.63%2C6.9%2C16.79C166.49%2C229.26%2C166.71%2C231.7%2C166.71%2C234.2z"%2F>%0A%09<path%20style%3D"fill%3A%23A63F70%3B"%20d%3D"M429.96%2C234.2c0%2C2.62-0.24%2C5.19-0.7%2C7.68c-1.11%2C6.1-3.54%2C11.74-6.97%2C16.62%20%20%20c-2.88%2C4.12-6.49%2C7.7-10.64%2C10.56c-4.91%2C3.39-10.56%2C5.77-16.67%2C6.84c-2.39%2C0.42-4.84%2C0.64-7.35%2C0.64c-2.61%2C0-5.17-0.24-7.65-0.69%20%20%20c-6.1-1.11-11.73-3.53-16.62-6.96c-4.13-2.89-7.71-6.49-10.57-10.64c-3.4-4.9-5.78-10.56-6.86-16.67%20%20%20c-0.42-2.39-0.64-4.86-0.64-7.38c0-2.6%2C0.23-5.15%2C0.69-7.62c1.11-6.11%2C3.53-11.76%2C6.95-16.65c2.9-4.13%2C6.5-7.71%2C10.65-10.57%20%20%20c4.91-3.4%2C10.57-5.79%2C16.69-6.86c2.39-0.42%2C4.85-0.64%2C7.36-0.64c2.61%2C0%2C5.16%2C0.24%2C7.64%2C0.69c6.11%2C1.11%2C11.76%2C3.54%2C16.65%2C6.98%20%20%20c4.13%2C2.89%2C7.71%2C6.5%2C10.57%2C10.65c3.39%2C4.91%2C5.77%2C10.58%2C6.84%2C16.7C429.74%2C229.26%2C429.96%2C231.7%2C429.96%2C234.2z"%2F>%0A<%2Fg>%0A<path%20style%3D"fill%3A%23D95291%3B"%20d%3D"M512%2C98.002v31.29H0v-31.29C0%2C95.792%2C1.791%2C94%2C4%2C94h504C510.209%2C94%2C512%2C95.792%2C512%2C98.002z"%2F>%0A<path%20style%3D"fill%3A%23A63F70%3B"%20d%3D"M512%2C98.002v31.29h-20.604V94H508C510.209%2C94%2C512%2C95.792%2C512%2C98.002z"%2F>%0A<g>%0A%09<path%20style%3D"fill%3A%2342315E%3B"%20d%3D"M131.87%2C192.52v14.05c0%2C4.14-3.36%2C7.5-7.5%2C7.5s-7.5-3.36-7.5-7.5v-14.05%20%20%20c2.43-0.43%2C4.94-0.66%2C7.5-0.66S129.44%2C192.09%2C131.87%2C192.52z"%2F>%0A%09<path%20style%3D"fill%3A%2342315E%3B"%20d%3D"M131.58%2C261.89v14.04c-2.34%2C0.4-4.75%2C0.61-7.21%2C0.61c-2.66%2C0-5.27-0.25-7.79-0.72v-13.93%20%20%20c0-4.15%2C3.36-7.5%2C7.5-7.5C128.22%2C254.39%2C131.58%2C257.74%2C131.58%2C261.89z"%2F>%0A%09<path%20style%3D"fill%3A%2342315E%3B"%20d%3D"M159.18%2C210.09l-9.99%2C9.99c-1.46%2C1.46-3.38%2C2.2-5.3%2C2.2s-3.84-0.74-5.31-2.2%20%20%20c-2.93-2.93-2.93-7.68%2C0-10.61l10-10C152.71%2C202.35%2C156.3%2C205.95%2C159.18%2C210.09z"%2F>%0A%09<path%20style%3D"fill%3A%2342315E%3B"%20d%3D"M109.87%2C258.98l-9.85%2C9.85c-4.12-2.9-7.69-6.51-10.55-10.66l9.79-9.79c2.93-2.93%2C7.68-2.93%2C10.61%2C0%20%20%20S112.8%2C256.06%2C109.87%2C258.98z"%2F>%0A%09<path%20style%3D"fill%3A%2342315E%3B"%20d%3D"M166.71%2C234.2c0%2C2.62-0.24%2C5.19-0.7%2C7.68h-14.13c-4.14%2C0-7.5-3.36-7.5-7.5c0-4.15%2C3.36-7.5%2C7.5-7.5%20%20%20h14.2C166.49%2C229.26%2C166.71%2C231.7%2C166.71%2C234.2z"%2F>%0A%09<path%20style%3D"fill%3A%2342315E%3B"%20d%3D"M104.07%2C234.08c0%2C4.14-3.36%2C7.5-7.5%2C7.5H82.68c-0.42-2.39-0.64-4.86-0.64-7.38%20%20%20c0-2.6%2C0.23-5.15%2C0.69-7.62h13.84C100.71%2C226.58%2C104.07%2C229.94%2C104.07%2C234.08z"%2F>%0A%09<path%20style%3D"fill%3A%2342315E%3B"%20d%3D"M158.98%2C258.59c-2.9%2C4.11-6.52%2C7.68-10.67%2C10.54l-9.94-9.94c-2.92-2.93-2.92-7.67%2C0-10.6%20%20%20c2.93-2.93%2C7.68-2.93%2C10.61%2C0L158.98%2C258.59z"%2F>%0A%09<path%20style%3D"fill%3A%2342315E%3B"%20d%3D"M110.08%2C219.87c-1.47%2C1.46-3.39%2C2.2-5.31%2C2.2s-3.84-0.74-5.3-2.2l-9.85-9.85%20%20%20c2.88-4.13%2C6.47-7.73%2C10.61-10.61l9.85%2C9.85C113%2C212.19%2C113%2C216.94%2C110.08%2C219.87z"%2F>%0A%09<path%20style%3D"fill%3A%2342315E%3B"%20d%3D"M395.27%2C192.55v14.02c0%2C4.14-3.35%2C7.5-7.5%2C7.5c-4.14%2C0-7.5-3.36-7.5-7.5V192.5%20%20%20c2.39-0.42%2C4.85-0.64%2C7.36-0.64C390.24%2C191.86%2C392.79%2C192.1%2C395.27%2C192.55z"%2F>%0A%09<path%20style%3D"fill%3A%2342315E%3B"%20d%3D"M379.98%2C275.85v-13.96c0-4.15%2C3.36-7.5%2C7.5-7.5s7.5%2C3.35%2C7.5%2C7.5v14.01L379.98%2C275.85z"%2F>%0A%09<path%20style%3D"fill%3A%2342315E%3B"%20d%3D"M422.49%2C210.18l-9.9%2C9.9c-1.46%2C1.46-3.38%2C2.2-5.3%2C2.2c-1.92%2C0-3.84-0.74-5.3-2.2%20%20%20c-2.93-2.93-2.93-7.68%2C0-10.61l9.93-9.94C416.05%2C202.42%2C419.63%2C206.03%2C422.49%2C210.18z"%2F>%0A%09<path%20style%3D"fill%3A%2342315E%3B"%20d%3D"M373.27%2C258.98l-9.91%2C9.91c-4.13-2.89-7.71-6.49-10.57-10.64l9.87-9.87c2.93-2.93%2C7.68-2.93%2C10.61%2C0%20%20%20S376.2%2C256.06%2C373.27%2C258.98z"%2F>%0A%09<path%20style%3D"fill%3A%2342315E%3B"%20d%3D"M429.96%2C234.2c0%2C2.62-0.24%2C5.19-0.7%2C7.68h-13.98c-4.14%2C0-7.5-3.36-7.5-7.5c0-4.15%2C3.36-7.5%2C7.5-7.5%20%20%20h14.05C429.74%2C229.26%2C429.96%2C231.7%2C429.96%2C234.2z"%2F>%0A%09<path%20style%3D"fill%3A%2342315E%3B"%20d%3D"M367.47%2C234.08c0%2C4.14-3.36%2C7.5-7.5%2C7.5h-14.04c-0.42-2.39-0.64-4.86-0.64-7.38%20%20%20c0-2.6%2C0.23-5.15%2C0.69-7.62h13.99C364.11%2C226.58%2C367.47%2C229.94%2C367.47%2C234.08z"%2F>%0A%09<path%20style%3D"fill%3A%2342315E%3B"%20d%3D"M422.29%2C258.5c-2.88%2C4.12-6.49%2C7.7-10.64%2C10.56l-9.87-9.87c-2.93-2.93-2.93-7.67%2C0-10.6%20%20%20c2.93-2.93%2C7.67-2.93%2C10.6%2C0L422.29%2C258.5z"%2F>%0A%09<path%20style%3D"fill%3A%2342315E%3B"%20d%3D"M373.48%2C219.87c-1.47%2C1.46-3.39%2C2.2-5.31%2C2.2c-1.92%2C0-3.83-0.74-5.3-2.2l-9.94-9.94%20%20%20c2.9-4.13%2C6.5-7.71%2C10.65-10.57l9.9%2C9.9C376.41%2C212.19%2C376.41%2C216.94%2C373.48%2C219.87z"%2F>%0A%09<path%20style%3D"fill%3A%2342315E%3B"%20d%3D"M307.166%2C211.688H204.549c-4.142%2C0-7.5-3.358-7.5-7.5s3.358-7.5%2C7.5-7.5h102.616%20%20%20c4.142%2C0%2C7.5%2C3.358%2C7.5%2C7.5S311.308%2C211.688%2C307.166%2C211.688z"%2F>%0A%09<path%20style%3D"fill%3A%2342315E%3B"%20d%3D"M307.166%2C241.876H204.549c-4.142%2C0-7.5-3.358-7.5-7.5s3.358-7.5%2C7.5-7.5h102.616%20%20%20c4.142%2C0%2C7.5%2C3.358%2C7.5%2C7.5S311.308%2C241.876%2C307.166%2C241.876z"%2F>%0A%09<path%20style%3D"fill%3A%2342315E%3B"%20d%3D"M307.166%2C272.064H204.549c-4.142%2C0-7.5-3.358-7.5-7.5s3.358-7.5%2C7.5-7.5h102.616%20%20%20c4.142%2C0%2C7.5%2C3.358%2C7.5%2C7.5S311.308%2C272.064%2C307.166%2C272.064z"%2F>%0A%09<circle%20style%3D"fill%3A%2342315E%3B"%20cx%3D"109.63"%20cy%3D"368.81"%20r%3D"7.5"%2F>%0A%09<circle%20style%3D"fill%3A%2342315E%3B"%20cx%3D"103.13"%20cy%3D"398.47"%20r%3D"7.5"%2F>%0A%09<circle%20style%3D"fill%3A%2342315E%3B"%20cx%3D"402.17"%20cy%3D"368.81"%20r%3D"7.5"%2F>%0A%09<circle%20style%3D"fill%3A%2342315E%3B"%20cx%3D"408.87"%20cy%3D"398.47"%20r%3D"7.5"%2F>%0A<%2Fg>%0A<g>%0A<%2Fg>%0A<g>%0A<%2Fg>%0A<g>%0A<%2Fg>%0A<g>%0A<%2Fg>%0A<g>%0A<%2Fg>%0A<g>%0A<%2Fg>%0A<g>%0A<%2Fg>%0A<g>%0A<%2Fg>%0A<g>%0A<%2Fg>%0A<g>%0A<%2Fg>%0A<g>%0A<%2Fg>%0A<g>%0A<%2Fg>%0A<g>%0A<%2Fg>%0A<g>%0A<%2Fg>%0A<g>%0A<%2Fg>%0A<%2Fsvg>
*/

/*@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto:100,400');

$padding: 6;

$font-roboto: 'Roboto', sans-serif;
$font-start: 'Press Start 2P', cursive;

$box-shadow: 0 ($padding/2 + px) ($padding + px) rgba(0,0,0,0.16), 0 ($padding/2 + px) ($padding + px) rgba(0,0,0,0.23);

@import "page";
@import "amp";
@import "album";*/
