---
layout: default
---
  <ul id="years">
    {% for favYear in site.data.favorites %}
        <li class="years__item">
            <h2 class="years__title">{{ favYear.year }}</h2>
            <ul class="favorites">
                {% assign albums = favYear.list | sort:"artist" %}
                {% for albumItem in albums %}
                    <li class="favorites__item">
                        <h3 class="favorites__album">{{ albumItem.album }}</h3>
                        <h4 class="favorites__artist">{{ albumItem.artist }}</h4>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
  </ul>
